

:root {
    --clr-primary-1: #997588;
    --clr-primary-2: #f7eee7;
    --clr-primary-3: #d6c1b8;
    --clr-primary-4: #c38dd2;
    --clr-primary-5: #f8049c;
}
.App {
    background-image: url('./assets/Colored\ Patterns.svg');
    background-color: var(--clr-primary-2);

background-position: 5% 62%;
}
h1 {
    color: var(--clr-primary-1);
}
h2 {
    color: var(--clr-primary-2);;
}
span {
    color: var(--clr-primary-3);;
}
