

:root {
    --clr-primary-1: #997588;
    --clr-primary-2: #f7eee7;
    --clr-primary-3: #d6c1b8;
    --clr-primary-4: #c38dd2;
    --clr-primary-5: #f8049c;
}
.App {
    background-image: url('./assets/Colored\ Patterns.svg');
    background-color: var(--clr-primary-2);

background-position: 5% 62%;
}
h1 {
    color: var(--clr-primary-1);
}
h2 {
    color: var(--clr-primary-2);;
}
span {
    color: var(--clr-primary-3);;
}
.rec-pagination {
    padding: 0 15px;
}

.fa-facebook:hover {
    color: #3B5998;
}
.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.fa-whatsapp:hover {
    color: #25d366;
}

.fa-tiktok:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #EE1D52 5%, #000000 45%, #69C9D0 60%, #EE1D52 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .rec-arrow-right {
        min-width: 30px;
        width: 30px;
        height: 35px;
        font-size: 0.7rem;
    }
}
